In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
def scrape_data(url, headers, limit):
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    table = soup.find('table', class_='table')
    
    data = []
    for row in table.select('tbody tr')[:limit]:
        row_data = [cell.text.strip() for cell in row.select('td')]
        data.append(row_data)
    
    df = pd.DataFrame(data, columns=headers)
    return df

In [3]:
team_url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
team_headers = ['Position', 'Team', 'Matches', 'Points', 'Rating']
team_limit = 10
team_df = scrape_data(team_url, team_headers, team_limit)

print("Top 10 ODI Teams in Women's Cricket:")
print(team_df)
print()

Top 10 ODI Teams in Women's Cricket:
  Position              Team Matches Points Rating
0        1    Australia\nAUS      21  3,603    172
1        2      England\nENG      28  3,342    119
2        3  South Africa\nSA      26  3,098    119
3        4        India\nIND      27  2,820    104
4        5   New Zealand\nNZ      25  2,553    102
5        6   West Indies\nWI      27  2,535     94
6        7     Thailand\nTHA      11    821     75
7        8   Bangladesh\nBAN      14    977     70
8        9     Pakistan\nPAK      27  1,678     62
9       10     Sri Lanka\nSL       9    479     53