In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
response = requests.get(url)

In [3]:
soup = BeautifulSoup(response.content, "html.parser")

In [4]:
table = soup.find("table", class_="table")

In [5]:
teams = []
matches = []
points = []
ratings = []

rows = table.tbody.find_all("tr")
for row in rows:
    # Extract team name, matches, points, and rating from each row
    team = row.find("span", class_="u-hide-phablet").get_text(strip=True)
    match = row.find_all("td")[2].get_text(strip=True)
    point = row.find_all("td")[3].get_text(strip=True)
    rating = row.find_all("td")[4].get_text(strip=True)
    
    teams.append(team)
    matches.append(match)
    points.append(point)
    ratings.append(rating)

In [6]:
data = {
    "Team": teams[:10],  # Select top 10 teams
    "Matches": matches[:10],
    "Points": points[:10],
    "Rating": ratings[:10]
}

In [7]:
df = pd.DataFrame(data)
df

           Team Matches Points Rating
0     Australia      23  2,714    118
1      Pakistan      20  2,316    116
2         India      33  3,807    115
3   New Zealand      27  2,806    104
4       England      24  2,426    101
5  South Africa      19  1,910    101
6    Bangladesh      25  2,451     98
7   Afghanistan      10    878     88
8     Sri Lanka      21  1,682     80
9   West Indies      25  1,797     72