# Web Scrapping through selenium

Q1) Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

This task will be done in following steps:
    
1. First get the webpage https://www.naukri.com/
    
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.

3. Then click the searchbutton.

4. Then scrape the data for the first 10 jobs results youget.

5. Finally create a dataframe of the scraped data.

Note: All of the above steps have to be done in code. No step is to be done manually.

In [2]:
pip install selenium

Requirement already satisfied: selenium in c:\users\kushal kulkarni\anaconda3new\lib\site-packages (4.9.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\kushal kulkarni\anaconda3new\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: trio~=0.17 in c:\users\kushal kulkarni\anaconda3new\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\kushal kulkarni\anaconda3new\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\kushal kulkarni\anaconda3new\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: sniffio in c:\users\kushal kulkarni\anaconda3new\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\kushal kulkarni\anaconda3new\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sortedcontainers in c:\users\kushal kulkarni\anaconda3new\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\kushal kulkarni\anaconda3new\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\kushal kulkarni\anaconda3new\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\kushal kulkarni\anaconda3new\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\kushal kulkarni\anaconda3new\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\kushal kulkarni\anaconda3new\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: wsproto>=0.14 in c:\users\kushal kulkarni\anaconda3new\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\kushal kulkarni\anaconda3new\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\kushal kulkarni\anaconda3new\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\kushal kulkarni\anaconda3new\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [12]:
driver = webdriver.Chrome(r'C:\Users\Kushal Kulkarni\Downloads\chromedriver.exe')

In [13]:
driver.get ('https://www.naukri.com/')

In [14]:
designation = driver.find_element(By.CLASS_NAME, "suggestor-input ")

In [15]:
designation.send_keys('Data Analyst')

In [16]:
location = driver.find_element(By.XPATH, '/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore')

In [17]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [19]:
job_tittle = []
job_location = []
company_name = []
experience_req = []

tittle_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')

for i in tittle_tags[0:10]:
    tittle = i.text
    job_tittle.append(tittle)

In [20]:
job_tittle

['Tech Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Knowledge Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Hiring For Data analyst- Bangalore',
 'Data Analyst']

In [21]:
location = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')

for i in location[0:10]:
    loc = i.text
    job_location.append(loc)

In [22]:
job_location

['Hybrid - Bangalore/ Bengaluru, Karnataka, Gurgaon/ Gurugram, Haryana',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/ Bengaluru, Karnataka(4th Block Koramangala)',
 'Hybrid - Bangalore/Bengaluru, Delhi / NCR']

In [23]:
co = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

for i in co[0:10]:
    company = i.text
    company_name.append(company)

In [24]:
company_name

['Wipro',
 'Brillio',
 'HARMAN',
 'SAP',
 'Koch Industries',
 'Aventus Technology India',
 'Zoom Start India',
 'Alliances Galore',
 'Shadowfax Technologies',
 'Aon']

In [25]:
exp = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')

for i in exp[0:10]:
    ex = i.text
    experience_req.append(ex)

In [26]:
experience_req

['3-6 Yrs',
 '0-2 Yrs',
 '3-5 Yrs',
 '4-6 Yrs',
 '7-9 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '1-3 Yrs',
 '2-5 Yrs',
 '6-9 Yrs']

In [27]:
Data_Analyst_jobs = pd.DataFrame({'Job Tittle': job_tittle, 'Location': job_location, 'Comapany Name': company_name,'Experience required': experience_req })
Data_Analyst_jobs

,Job Tittle,Location,Comapany Name,Experience required
0,Tech Data Analyst,"Hybrid - Bangalore/ Bengaluru, Karnataka, Gurg...",Wipro,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,Brillio,0-2 Yrs
2,Data Analyst,Hybrid - Bangalore/Bengaluru,HARMAN,3-5 Yrs
3,Knowledge Data Analyst,Bangalore/Bengaluru,SAP,4-6 Yrs
4,Data Analyst,Bangalore/Bengaluru,Koch Industries,7-9 Yrs
5,Data Analyst,Bangalore/Bengaluru,Aventus Technology India,2-7 Yrs
6,Data Analyst,Bangalore/Bengaluru,Zoom Start India,1-4 Yrs
7,Data Analyst,Bangalore/Bengaluru,Alliances Galore,1-3 Yrs
8,Hiring For Data analyst- Bangalore,"Bangalore/ Bengaluru, Karnataka(4th Block Kora...",Shadowfax Technologies,2-5 Yrs
9,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,6-9 Yrs

Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

This task will be done in following steps:

1. First get the webpage https://www.naukri.com/

2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.

3. Then click the searchbutton.

4. Then scrape the data for the first 10 jobs results youget.

5. Finally create a dataframe of the scraped data.

In [1]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [6]:
driver = webdriver.Chrome(r'C:\Users\Kushal Kulkarni\Downloads\chromedriver.exe')

In [7]:
driver.get ('https://www.naukri.com/')

In [8]:
designation = driver.find_element(By.CLASS_NAME, "suggestor-input ")

In [9]:
designation.send_keys('Data Scientist')

In [10]:
location = driver.find_element(By.XPATH, '/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore')

In [11]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [12]:
job_tittle = []
job_location = []
company_name = []
experience_req = []

tittle_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')

for i in tittle_tags[0:10]:
    tittle = i.text
    job_tittle.append(tittle)

In [13]:
location = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')

for i in location[0:10]:
    loc = i.text
    job_location.append(loc)

In [14]:
co = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

for i in co[0:10]:
    company = i.text
    company_name.append(company)

In [15]:
exp = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')

for i in exp[0:10]:
    ex = i.text
    experience_req.append(ex)

In [16]:
Data_Scientist_jobs = pd.DataFrame({'Job Tittle': job_tittle, 'Location': job_location, 'Comapany Name': company_name,'Experience required': experience_req })
Data_Scientist_jobs

,Job Tittle,Location,Comapany Name,Experience required
0,Permanent Opportunity - Data Scientist(Snaplog...,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Deloitte,9-14 Yrs
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
2,Hiring For Data Scientist,"Hybrid - Bangalore/ Bengaluru, Karnataka, Hyde...",Tata Consultancy Services (TCS),4-9 Yrs
3,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent Systems Limited.,5-12 Yrs
4,Director/Senior Director - Data Science,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Axtria India,10-15 Yrs
5,Manager/Senior Manager - Data Science,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Axtria India,8-12 Yrs
6,Data Scientist,Bangalore/Bengaluru,Ericsson,5-7 Yrs
7,Deputy Manager - B2C Underwriting,Bangalore/Bengaluru,Bajaj Finserv Ltd.,1-3 Yrs
8,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, C...",Cognizant,4-9 Yrs
9,Data Scientist,"Hybrid - Bangalore/Bengaluru, Pune, Delhi / NC...",Infogain,3-6 Yrs

Q3) The task will be done as shown in the below steps:

1. first get thewebpage https://www.naukri.com/

2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.

3. Then click the searchbutton.

4. Then apply the location filter and salary filter by checking the respectiveboxes

5. Then scrape the data for the first 10 jobs results youget.

6. Finally create a dataframe of the scrapeddata.

In [1]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver = webdriver.Chrome(r'C:\Users\Kushal Kulkarni\Downloads\chromedriver.exe')

In [3]:
driver.get ('https://www.naukri.com/')

In [4]:
designation = driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Scientist')

In [5]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [6]:
location = driver.find_element(By.XPATH, '/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
location.click()

In [8]:
salary = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary.click()

In [17]:
Job = []
Co_name = []
exp_req = []

j = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in j[0:10]:
    Job.append(i.text)
    
c = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in c[0:10]:
    Co_name.append(i.text)
    
e = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in e[0:10]:
    exp_req.append(i.text)

In [12]:
len(Job)

10

In [15]:
len(Co_name)

10

In [18]:
len(exp_req)

10

In [19]:
Data_Scientist_Delhi = pd.DataFrame({'Job Name': Job, 'Co. Name': Co_name, 'Exp. required': exp_req})
Data_Scientist_Delhi

                 Job Name                         Co. Name Exp. required
0   Junior Data Scientist                         Analytos       0-2 Yrs
1          Data Scientist                        Blackbuck       3-7 Yrs
2          Data Scientist        Jubilant Ingrevia Limited       3-8 Yrs
3          Data Scientist                         Analytos       2-4 Yrs
4   Python and ML Trainer                       Thescholar       3-8 Yrs
5          Data Scientist  Tata Consultancy Services (TCS)      7-12 Yrs
6                  Intern           Tower Research Capital       0-1 Yrs
7  Lead Assistant Manager                              EXL       2-6 Yrs
8          Data Scientist                       Innovaccer       2-4 Yrs
9   Junior Data Scientist                           Adidas       1-6 Yrs

Hello team unable to scrap the the data through the filter as not able to click, need your help in it

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:

1. Go to Flipkart webpage by url :https://www.flipkart.com/

2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon

3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data asusual.

4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.

5. Now scrape data from this page asusual

6. Repeat this until you get data for 100sunglasses.

In [26]:
driver = webdriver.Chrome(r'C:\Users\Kushal Kulkarni\Downloads\chromedriver.exe')

In [27]:
driver.get('https://www.flipkart.com/')

In [28]:
glasses = driver.find_element(By.CLASS_NAME,"_3704LK")
glasses.send_keys('sunglasses')

In [29]:
search = driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [47]:
Brand = []
Product_Description = []
Price = []

start = 0
end = 3
for page in range(start,end):
    brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand[0:100]:
        Brand.append(i.text)

next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()
time.sleep(3)

In [48]:
Brand

['Elligator',
 'ROZZETTA CRAFT',
 'Rich Club',
 'Fastrack',
 'PIRASO',
 'SUNBEE',
 'PIRASO',
 'DEIXELS',
 'Fastrack',
 'Elligator',
 'Elligator',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PROVOGUE',
 'PIRASO',
 'NuVew',
 'GANSTA',
 'iCopertina',
 'GANSTA',
 'VINCENT CHASE',
 'LIZA ANGEL',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'VINCENT CHASE',
 'Silver Kartz',
 'VINCENT CHASE',
 'Fastrack',
 'VINCENT CHASE',
 'Fastrack',
 'Rich Club',
 'ROYAL SON',
 'HRX by Hrithik Roshan',
 'RED MONK',
 'LIZA ANGEL',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Rich Club',
 'AISLIN',
 'Fastrack',
 'Elligator',
 'ROZZETTA CRAFT',
 'Rich Club',
 'Fastrack',
 'PIRASO',
 'SUNBEE',
 'PIRASO',
 'DEIXELS',
 'Fastrack',
 'Elligator',
 'Elligator',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PROVOGUE',
 'PIRASO',
 'NuVew',
 'GANSTA',
 'iCopertina',
 'GANSTA',
 'VINCENT CHASE',
 'LIZA ANGEL',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'VINCENT CHASE',
 'Silver Kartz',
 'VINCENT CHASE',
 'Fastrack',
 'VINCENT CHASE',
 'Fastrack',
 'Rich Club',
 'ROYAL SON',
 'HRX by Hrithik Roshan',
 'RED MONK',
 'LIZA ANGEL',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Rich Club',
 'AISLIN',
 'Fastrack',
 'Elligator',
 'ROZZETTA CRAFT',
 'Rich Club',
 'Fastrack',
 'PIRASO',
 'SUNBEE',
 'PIRASO',
 'DEIXELS',
 'Fastrack',
 'Elligator',
 'Elligator',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PROVOGUE',
 'PIRASO',
 'NuVew',
 'GANSTA',
 'iCopertina',
 'GANSTA',
 'VINCENT CHASE',
 'LIZA ANGEL',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'VINCENT CHASE',
 'Silver Kartz',
 'VINCENT CHASE',
 'Fastrack',
 'VINCENT CHASE',
 'Fastrack',
 'Rich Club',
 'ROYAL SON',
 'HRX by Hrithik Roshan',
 'RED MONK',
 'LIZA ANGEL',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Rich Club',
 'AISLIN',
 'Fastrack']

In [56]:
s = 0
e =3
for page in range(s,e):
    pd = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in pd[0:100]:
        Product_Description.append(i.text)

next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()
time.sleep(3)

In [57]:
Product_Description

['Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (54)',
 'Gradient, UV Protection Retro Square Sunglasses (56)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer, Round Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Riding Glasses Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Polarized, UV Protection Round Sunglasses (51)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer Su...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Wayfarer Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'by Lenskart UV Protection Wayfarer Sunglasses (51)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'Polarized Aviator Sunglasses (59)',
 'Toughened Glass Lens, UV Protection, Riding Glasses, Ni...',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (54)',
 'Gradient, UV Protection Retro Square Sunglasses (56)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer, Round Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Riding Glasses Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Polarized, UV Protection Round Sunglasses (51)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer Su...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Wayfarer Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'by Lenskart UV Protection Wayfarer Sunglasses (51)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'Polarized Aviator Sunglasses (59)',
 'Toughened Glass Lens, UV Protection, Riding Glasses, Ni...',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (54)',
 'Gradient, UV Protection Retro Square Sunglasses (56)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer, Round Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Riding Glasses Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Polarized, UV Protection Round Sunglasses (51)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer Su...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Wayfarer Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'by Lenskart UV Protection Wayfarer Sunglasses (51)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'Polarized Aviator Sunglasses (59)',
 'Toughened Glass Lens, UV Protection, Riding Glasses, Ni...',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Wayfarer Sunglasses (Free Size)']

In [52]:
st = 0
en = 3
for page in range(st,en):
    pr = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pr[0:100]:
        Price.append(i.text)
        
next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()
time.sleep(3)

In [53]:
Price

['₹149',
 '₹179',
 '₹149',
 '₹499',
 '₹215',
 '₹109',
 '₹649',
 '₹268',
 '₹149',
 '₹149',
 '₹179',
 '₹579',
 '₹499',
 '₹539',
 '₹220',
 '₹599',
 '₹342',
 '₹315',
 '₹149',
 '₹129',
 '₹211',
 '₹194',
 '₹589',
 '₹292',
 '₹580',
 '₹599',
 '₹597',
 '₹799',
 '₹199',
 '₹679',
 '₹190',
 '₹259',
 '₹244',
 '₹579',
 '₹274',
 '₹539',
 '₹629',
 '₹689',
 '₹609',
 '₹249',
 '₹149',
 '₹179',
 '₹149',
 '₹499',
 '₹215',
 '₹109',
 '₹649',
 '₹268',
 '₹149',
 '₹149',
 '₹179',
 '₹579',
 '₹499',
 '₹539',
 '₹220',
 '₹599',
 '₹342',
 '₹315',
 '₹149',
 '₹129',
 '₹211',
 '₹194',
 '₹589',
 '₹292',
 '₹580',
 '₹599',
 '₹597',
 '₹799',
 '₹199',
 '₹679',
 '₹190',
 '₹259',
 '₹244',
 '₹579',
 '₹274',
 '₹539',
 '₹629',
 '₹689',
 '₹609',
 '₹249',
 '₹149',
 '₹179',
 '₹149',
 '₹499',
 '₹215',
 '₹109',
 '₹649',
 '₹268',
 '₹149',
 '₹149',
 '₹179',
 '₹579',
 '₹499',
 '₹539',
 '₹220',
 '₹599',
 '₹342',
 '₹315',
 '₹149',
 '₹129',
 '₹211',
 '₹194',
 '₹589',
 '₹292',
 '₹580',
 '₹599',
 '₹597',
 '₹799',
 '₹199',
 '₹679',
 '₹190',
 '₹259',
 '₹244',
 '₹579',
 '₹274',
 '₹539',
 '₹629',
 '₹689',
 '₹609',
 '₹249']

In [61]:
import pandas as pd

In [46]:
Sunglasses = pd.DataFrame({ 'Brand': Brand, 'Description': Product_Description, 'Price': Price })
Sunglasses

ValueError: All arrays must be of the same length

In [49]:
Brand[81]

'ROZZETTA CRAFT'

In [50]:
Brand[99]

'VINCENT CHASE'

In [54]:
Price[81]

'₹179'

In [58]:
Product_Description[81]

'Night Vision, UV Protection Round Sunglasses (54)'

In [62]:
Sunglasses1 = pd.DataFrame({ 'Brand': Brand, 'Description': Product_Description, 'Price': Price })
Sunglasses1

              Brand                                        Description Price
0         Elligator  Polarized, Riding Glasses Sports, Wrap-around ...  ₹149
1    ROZZETTA CRAFT  Night Vision, UV Protection Round Sunglasses (54)  ₹179
2         Rich Club         UV Protection Retro Square Sunglasses (54)  ₹149
3          Fastrack  Gradient, UV Protection Retro Square Sunglasse...  ₹499
4            PIRASO              UV Protection Aviator Sunglasses (54)  ₹215
..              ...                                                ...   ...
115   VINCENT CHASE          UV Protection Rectangular Sunglasses (52)  ₹539
116  ROZZETTA CRAFT                UV Protection Round Sunglasses (50)  ₹629
117       Rich Club  UV Protection, Gradient Round, Cat-eye Sunglas...  ₹689
118          AISLIN  UV Protection, Gradient Retro Square Sunglasse...  ₹609
119        Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹249

[120 rows x 3 columns]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART

As shown in the above page you have to scrape the tick marked attributes. These are:

1. Rating

2. Review summary

3. Full review

4. You have to scrape this data for first 100reviews.

In [1]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver = webdriver.Chrome(r'C:\Users\Kushal Kulkarni\Downloads\chromedriver.exe')

In [5]:
driver.get(' https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [6]:
Rating = []
Review_summary = []
Full_review = []

start = 0
end = 10

for page in range(start,end):
    r = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in r[0:100]:
        Rating.append(i.text)
        
next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()
time.sleep(3)

In [7]:
Rating

['5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '4',
 '5',
 '5',
 '5']

In [13]:
Rating[99]

'5'

In [14]:
s = 0
e = 10

for page in range(s,e):
    rew = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in rew[0:100]:
        Review_summary.append(i.text)
        
for page in range(s,e):
    full = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full[0:100]:
        Full_review.append(i.text)
        
next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()
time.sleep(3)

In [15]:
Review_summary[99]

'Great product'

In [16]:
Full_review[99]

'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE'

In [18]:
Iphone_rating = pd.DataFrame({'Ratings': Rating, 'Review Summary': Review_summary,'Full Reveiw': Full_review})
Iphone_rating

,Ratings,Review Summary,Full Reveiw
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,It's my first time to use iOS phone and I am l...
4,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
97,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
98,5,Highly recommended,What a camera .....just awesome ..you can feel...
99,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...

Q6: Scrape data forfirst 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 3 attributes of each sneaker:

1. Brand

2. ProductDescription

3. Price

As shown in the below image, you have to scrape the above attributes

In [21]:
driver = webdriver.Chrome(r'C:\Users\Kushal Kulkarni\Downloads\chromedriver.exe')
driver.get(' https://www.flipkart.com/')

In [23]:
Sneakers = driver.find_element(By.CLASS_NAME,"_3704LK")
Sneakers.send_keys('Sneakers')

In [24]:
Search = driver.find_element(By.CLASS_NAME,'_34RNph')
Search.click()

In [26]:
Brand1 = []
Description = []
Price1 = []

start = 0
end = 3

for page in range(start,end):
    B = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in B[0:100]:
        Brand1.append(i.text)
        
for page in range(start,end):
    D = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in D[0:100]:
        Description.append(i.text)
        
for page in range(start,end):
    P1 = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in P1[0:100]:
        Price1.append(i.text)
        
next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()
time.sleep(3)

In [27]:
Brand1[99]

'PUMA'

In [29]:
Description[99]

'Hustle V2 Sneakers For Men'

In [31]:
Price1[99]

'₹1,499'

In [32]:
SneakerS = pd.DataFrame({'Brands': Brand1, 'Description': Description, 'Price': Price1})
SneakerS

,Brands,Description,Price
0,SFR,2006 Trenddy Fashion Sporty Casuals Sneakers R...,₹299
1,SFR,Casual Shoes For Men Sneakers For Men,₹299
2,WHITE WALKERS,Stylish & Trending Outdoor Walking Comfortable...,₹399
3,aadi,"Lightweight,Comfort,Summer,Trendy,Walking,Outd...",₹279
4,RapidBox,Sneakers For Men,₹549
...,...,...,...
115,Dillions,Sneakers For Men,₹517
116,Zixer,Men’s Premium Style High Top Platform Fashion ...,₹632
117,MARKS & SPENCER,Sneakers For Men,"₹2,249"
118,HRX by Hrithik Roshan,Men White Urban Street Athleisure Shoes Sneake...,"₹1,409"
119,Shozie,Stylish Walking Partywear Sneakers Casual Shoe...,₹445

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then 
set CPU Type filter to “Intel Core i7” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:

1. Title

2. Ratings

3. Price

In [1]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [11]:
driver = webdriver.Chrome(r'C:\Users\Kushal Kulkarni\Downloads\chromedriver.exe')

In [12]:
driver.get('https://www.amazon.in/')

In [13]:
laptop = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
laptop.send_keys('laptop')

In [14]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [15]:
cpu = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/span[10]/li/span/a/span')
cpu.click()

In [36]:
title = []
rating = []
price = []


t = driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')
for i in t[0:10]:
    title.append(i.text)

r = driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in r[0:10]:
    rating.append(i.text)
    
p = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in p[0:10]:
    price.append(i.text)

In [24]:
title

['Lenovo ThinkPad E14 Intel Core i7 12th Gen 14" FHD IPS Thin and Light Laptop (16GB RAM/1TB SSD/Windows 11 Home/MS Office H&S 2021/Backlit Keybaord/FPR/Black/1.59 kg), 21E3S05800',
 'Acer Predator Helios Neo 16 Gaming Laptop 13th Gen Intel Core i7 Processor (16 GB/1 TB SSD/Windows 11 Home/NVIDIA® GeForce RTX™ 4050) PHN16-71, (16") WUXGA Display',
 'HP Victus Gaming Latest 12th Gen Intel Core i7 12650H 15.6 inch(39.6 cm) FHD Gaming Laptop (8GB RAM/512GB SSD/RTX 3050 4GB Graphics/144Hz/9ms Rs Time/Win 11/MSO/BL KB/B&O/Alexa/Xbox Pass),15-fa0073TX',
 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel Iris Xe Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver,14-dv2015TU',
 'HP Pavilion Plus, 12th Gen Intel Core i7 16GB RAM/1TB SSD 14 inch(35.6 cm)Creator Laptop with OLED,UWVA,Eye Safe Laptop/Intel Iris Xe Graphics/Backlit KB/B&O/FPR/Win 11/Alexa Built-in/MSO,14-eh0024TU',
 'Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN',
 'ASUS Vivobook S15 OLED 2022, 15.6" 39.62 cms FHD OLED, Intel Core Evo i7-12700H 12th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Windows 11/Office 2021/Black/1.8 kg) K3502ZA-L702WS',
 'Lenovo ThinkBook 15 Intel 12th Gen Core i7 15.6" (39.62cm) FHD 250 nits Antiglare Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Backlit/Mineral Grey/1.7 Kg), 21DJA04NIH',
 'Samsung Galaxy Book2 (NP750) Intel 12th Gen core i7 39.6cm (15.6") FHD Thin & Light Laptop (16 GB/512 GB/Windows 11/MS Office/Backlit Keyboard/Fingerprint Reader/Silver/1.55Kg), NP750XED-KC2IN',
 'ASUS TUF Gaming F15 (2023) 90WHr Battery, Intel Core i7-12700H 12th Gen, 15.6" FHD 144Hz, 8GB RTX 4060, Gaming Laptop (16GB/512GB SSD/Windows 11//1-Zone RGB/Gray/2.20 Kg), FX507ZV-LP094W']

In [37]:
len(rating)

10

In [28]:
len(price)

10

In [38]:
LAPTOP_Intel = pd.DataFrame({'Name': title, 'Rating': rating, 'Price':price})
LAPTOP_Intel

                                                Name Rating     Price
0  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...           98,990
1  Acer Predator Helios Neo 16 Gaming Laptop 13th...         1,29,990
2  HP Victus Gaming Latest 12th Gen Intel Core i7...           90,990
3  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...           84,999
4  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...           93,990
5  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...           79,990
6  ASUS Vivobook S15 OLED 2022, 15.6" 39.62 cms F...           84,990
7  Lenovo ThinkBook 15 Intel 12th Gen Core i7 15....           85,990
8  Samsung Galaxy Book2 (NP750) Intel 12th Gen co...           76,990
9  ASUS TUF Gaming F15 (2023) 90WHr Battery, Inte...         1,15,990

Unable to proceed with rating in Q7 request you to help in it

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:

1. First get the webpage https://www.azquotes.com/

2. Click on TopQuotes

3. Than scrap a) Quote b) Author c) Type Of Quotes

In [22]:
driver = webdriver.Chrome(r'C:\Users\Kushal Kulkarni\Downloads\chromedriver.exe')

In [23]:
driver.get('https://www.azquotes.com/')

In [24]:
tquote = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')

In [27]:
Quote = []
Author = []
Type = []

start = 0
end = 10

for page in range(start,end):
    q = driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in q[0:100]:
        Quote.append(i.text)
        
for page in range(start,end):
    a = driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in a [0:100]:
        Author.append(i.text)
        
for page in range(start,end):
    t = driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in t[0:100]:
        Type.append(i.text)
        
        
next_button = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
next_button.click()
time.sleep(1)

In [28]:
Quote[100]

'The essence of strategy is choosing what not to do.'

In [29]:
Top_Quotes = pd.DataFrame({'Quotes': Quote, 'Authors': Author, 'Quote Type': Type})

In [30]:
Top_Quotes

,Quotes,Authors,Quote Type
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, 
Term of office, Remarks) from https://www.jagranjosh.com/.

This task will be done in following steps:

1. First get the webpagehttps://www.jagranjosh.com/

2. Then You have to click on the GK option

3. Then click on the List of all Prime Ministers of India

4. Then scrap the mentioned data and make theDataFrame.

In [20]:
driver = webdriver.Chrome(r'C:\Users\Kushal Kulkarni\Downloads\chromedriver.exe')

In [21]:
driver.get('https://www.jagranjosh.com/')

In [22]:
gk = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]/a')
gk.click()

In [24]:
pm = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[14]/div/div/ul/li[2]/a')
pm.click()

In [26]:
Names = []
Born_Dead = []
TOF = []
Remark = []

name = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for i in name :
    Names.append(i.text)

In [27]:
Names

['Jawahar Lal Nehru',
 'Gulzarilal Nanda (Acting)',
 'Lal Bahadur Shastri',
 'Gulzari Lal Nanda  (Acting)',
 'Indira Gandhi',
 'Morarji Desai',
 'Charan Singh',
 'Indira Gandhi',
 'Rajiv Gandhi',
 'V. P. Singh',
 'Chandra Shekhar',
 'P. V. Narasimha Rao',
 'Atal Bihari Vajpayee',
 'H. D. Deve Gowda',
 'Inder Kumar Gujral',
 'Atal Bihari Vajpayee',
 'Manmohan Singh',
 'Narendra Modi',
 'Narendra Modi']

In [34]:
bd = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p' /html/body/div[1]/div[2]/div/div[2]/div/div[2]/div/div/div/div[4]/span/div[3]/table/tbody/tr[1]/th[3]/p/strong)
for i in bd:
    Born_Dead.append(i.text)

In [47]:
Born_Dead1 = []
bd1 = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in bd1:
    Born_Dead1.append(i.text)

In [48]:
Born_Dead1

['(1889–1964)',
 '(1898-1998)',
 '(1904–1966)',
 '(1898-1998)',
 '(1917–1984)',
 '(1896–1995)',
 '(1902–1987)',
 '(1917–1984)',
 '(1944–1991)',
 '(1931–2008)',
 '(1927–2007)',
 '(1921–2004)',
 '(1924- 2018)',
 '(born 1933)',
 '(1919–2012)',
 '(1924-2018)',
 '(born 1932)',
 '(born 1950)',
 '(born 1950)']

In [49]:
t = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]/p')
for i in t:
    TOF.append(i.text)
    
r = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for i in r:
    Remark.append(i.text)

In [50]:
TOF

['15 August 1947 to 27 May 1964',
 '16 years, 286 days',
 '27 May 1964 to 9 June 1964,',
 '13 days',
 '9 June 1964 to 11 January 1966',
 '1 year, 216 days',
 '11 January 1966 to 24 January 1966',
 '13 days',
 '24 January 1966 to 24 March 1977',
 '11 years, 59 days',
 '24 March 1977 to  28 July 1979 ',
 '2 year, 126 days',
 '28 July 1979 to 14 January 1980',
 '170 days',
 '14 January 1980 to 31 October 1984',
 '4 years, 291 days',
 '31 October 1984 to 2 December 1989',
 '5 years, 32 days',
 '2 December 1989 to 10 November 1990',
 '343 days',
 '10 November 1990 to 21 June 1991',
 '223 days',
 '21 June 1991 to 16 May 1996',
 '4 years, 330 days',
 '16 May 1996 to 1 June 1996',
 '16 days',
 '1 June 1996 to 21 April 1997',
 '324 days',
 '21 April 1997 to 19 March 1998 ',
 '332 days',
 '19 March 1998 to 22 May 2004 ',
 '6 years, 64 days',
 '22 May 2004 to 26 May 2014   ',
 '10 years, 4 days',
 '26 May 2014 - 2019',
 '30 May 2019- Incumbent']

In [51]:
Remark

['The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '-',
 'First female Prime Minister of India',
 'Oldest to become PM (81 years old) and first to resign from office',
 'Only PM who did not face the Parliament',
 'The first lady who served as PM for the second term',
 'Youngest to become PM (40 years old)',
 'First PM to step down after a vote of no confidence',
 'He belongs to  Samajwadi Janata Party',
 'First PM from South India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' The first non-congress PM who completed a full term as PM',
 ' First Sikh PM',
 '4th Prime Minister of India who served two consecutive tenures',
 'First non-congress PM with two consecutive tenures']

In [56]:
len(Names),len(Born_Dead1),len(TOF),len(Remark)

(19, 19, 36, 19)

In [57]:
PMs_of_India = pd.DataFrame({'Names': Names, 'DOB-DOD': Born_Dead1, 'Remarks': Remark})
PMs_of_India

,Names,DOB-DOD,Remarks
0,Jawahar Lal Nehru,(1889–1964),The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),-
4,Indira Gandhi,(1917–1984),First female Prime Minister of India
5,Morarji Desai,(1896–1995),Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),------
15,Atal Bihari Vajpayee,(1924-2018),The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),First Sikh PM
17,Narendra Modi,(born 1950),4th Prime Minister of India who served two con...
18,Narendra Modi,(born 1950),First non-congress PM with two consecutive ten...

Q10) Write a python program to display list of 50 Most expensive cars in the world (i.e. 
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:

1. First get the webpagehttps://www.motor1.com/

2. Then You have to type in the search bar ’50 most expensive cars’

3. Then click on 50 most expensive carsin the world.

4. Then scrap the mentioned data and make the dataframe.

In [51]:
driver = webdriver.Chrome(r'C:\Users\Kushal Kulkarni\Downloads\chromedriver.exe')

In [52]:
driver.get('https://www.motor1.com/')

In [54]:
exp_cars = driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/input')
exp_cars.send_keys('50 most expensive cars')

In [56]:
search = driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search.click()

In [58]:
cars = driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
cars.click()

In [66]:
car_name = []
Price = []
about = []

car = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/h3')
for i in car:
    car_name.append(i.text)
    
price = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p/strong')
for i in price:
    Price.append(i.text)
    
About = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p')
for i in About:
    about.append(i.text)

In [64]:
car_name

['De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profilée',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*',
 'Most Expensive Cars In The World']

In [67]:
Price

['Price: $1.3 Million',
 'Price: $1.4 Million',
 'Price: $1.4 Million',
 '',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.8 Million',
 'Price: $1.9 Million',
 'Price: $1.9 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million*',
 'Price: $2.1 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.4 Million',
 'Price: $2.5 Million',
 'Price: $2.5 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.7 Million',
 'Price: $3.0 Million',
 '$3.0 Million',
 'Price: $3.0 Million',
 'Price: $3.2 Million',
 'Price: $3.4 Million',
 '$3.5 Million',
 'Price: $3.5 Million',
 'Price: $3.6 Million',
 'Price: $3.6 million',
 'Price: $3.7 Million',
 'Price: $3.9 Million',
 'Price: $4.5 Million',
 'Price: $4.7 Million',
 'Price: $5.0 Million',
 'Price: $5.4 Million',
 'Price: $5.8 Million',
 'Price: $6.4 Million',
 'Price: $7.4 Million',
 'Price: $8.0 Million',
 'Price: $9.0 Million',
 'Price: $10.8 Million',
 'Price: $12.8 Million',
 'Price: $13.4 Million',
 'Price: $28.0 Million (est.)']

In [68]:
about

['When it comes to high-end hypercars and super-fast supercars, a few companies should come to mind first: Bugatti, Ferrari, Koenigsegg, Rimac, and Pagani, among others. These manufacturers have cemented themselves as the top dogs in the supercar and hypercar space, extending to their wealthiest clientele the fastest, rarest, prettiest – and in this case – most expensive cars on the planet.',
 "But in order to find out which of these unattainable-to-most vehicles is the priciest, we've scoured the invoice sheets and uncovered 50 cars all worth $1 million or more. The group includes hybrid Ferrari convertibles, an American speed king, a few electric Hypercars, and two a one-of-a-kind Rolls-Royce cars built for royalty.",
 'We should note, though: The prices listed here are the price of the vehicles when new. So we’re not counting auction cars like the Ferrari 250 GTO, or overpriced secondhand sales. But don’t worry, there’s still hundreds of millions worth of cars here to whet your appetite.',
 'Price: $1.3 Million',
 'The De Tomaso P72 is basically the definition of beautiful. The shapely supercar debuted at the 2019 Goodwood Festival Of Speed with a supercharged Ford V8 boasting 700 horsepower. The P72 marked the return of the DeTomaso brand after nearly 30 years on hiatus, and if you want one, it will cost you at least $1.3 million.',
 'Price: $1.4 Million',
 'At $1.4 million new, the Ferrari LaFerrari is actually one of the most affordable supercars on this list. It’s a bargain compared to the most expensive vehicle here. Debuting in 2013 with 950 hybrid horses (708 kilowatts) and a top speed of around 220 miles per hour (354 kilometers per hour), this is still Ferrari’s fastest and most powerful production model to date. The company built just 499 examples of the coupe between 2013 and 2016.',
 'Price: $1.4 Million',
 'Inarguably one of the prettiest cars on this list, the Pagani Huayra cost a cool $1.4 million when new. Like the LaFerrari, Pagani built the Huayra in extremely limited numbers. The company hand-constructed just 100 units of the coupe between 2012 and 2018, with another 20 versions of the BC model (which makes our list further down) between 2017 and 2019. Powering each and every example was a Mercedes-AMG V12 capable of 720 horsepower (537 kilowatts).',
 'Price: $1.7 Million',
 'The McLaren Elva is one of the latest additions to the British supercar maker’s storied legacy. Even without a proper windshield (though, no option) or roof to rely on, the Elva produces 804 horsepower and 590 pound-feet of torque from its twin-turbocharged 4.0-liter V8. Originally McLaren announced just 399 units, but later the company dropped that to an even more scarce 249 examples. Either way, most of you will never get your hands on one – the Elva costs $1.7 million.',
 'Price: $1.7 Million',
 'You might not know the name Czinger yet, but this California-based boutique automaker is responsible for the $1.7 million 21C supercar. With 1,250 horsepower on tap thanks to a 2.9-liter twin-turbocharged V8, the 21C can rocket to 60 miles per hour in 1.9 seconds and a top speed of around 281 miles per hour.',
 'Price: $1.7 Million',
 'Much like the roof-less McLaren Elva, the Ferrari Monza SP1 and SP2 are all about al fresco motoring. As the name implies, the SP1 is the single-seater option while the SP2 has just enough room for you to bring along a friend. Both cars come powered by the same naturally aspirated 6.5-liter V12 engine capable of 809 horsepower and 530 pound-feet. Unfortunately for US buyers, neither of these models are street legal in the States. But f you have the funds to afford the car’s $1.75 million price tag, getting onto a track probably won’t be an issue anyway.',
 'Price: $1.7 Million',
 "The second and slightly more affordable supercar in the new Gordon Murray lineup is the T.33. With 607 horsepower courtesy of a naturally aspirated 3.9-liter V12, the T.33 revs to a ridiculous 10,500 RPM. With a price tag of around $1.7 million at current conversion rates, Gordon Murray automotive promises to sell this car globally, in both right- and left-hand-drive configurations. Too bad it's already sold out.",
 'Price: $1.7 Million',
 'One of two Koenigsegg models on this list, the Gemera is actually the Swedish supercar maker’s first four-seater. But that doesn’t mean it’s some family car. With a twin-turbocharged 2.0-liter engine under the hood and three electric motors, the Gemera has 1,700 horsepower and will hit 60 in just 1.9 seconds. The company only plans to build 300 of them, each one costing at least $1.7 million.',
 'Price: $1.7 Million',
 'Hailing from Denmark, the Zenvo TSR-S debuted in 2018 at the Geneva Motor Show as the most extreme option in the supercar startup’s repertoire. Boasting a twin-charged 5.8-liter V8 engine, the TSR-S produces 1,177 horsepower and will hit 62 miles per hour in just 2.8 seconds. Expect to pay at least $1.7 million to get your hands on this powerful and limited supercar.',
 'Price: $1.8 Million',
 'The Hennessey Venom GT was a record-breaker, topping out at 265.7 miles per hour in a world record run. But the new F5 plans to beat its predecessor with an estimated top speed of 311 mph, and with that comes a higher price, too. The Venom F5 starts at $1.8 million, according to the company, which makes it just a bit pricier than its $1.2-million predecessor.',
 'Price: $1.9 Million',
 'With just 12 total units produced, the Bentley Bacalar makes some of the "limited" cars on this list look plentiful by comparison. Although the car’s opulent design may be the first thing to grab your attention, the Bacalar is no slouch in terms of performance either. With Bentley’s signature turbocharged 6.0-liter W12 turbocharged engine, this car delivers 650 horsepower and 664 pound-feet. If you have a spare $1.9 million lying around and are considering buying one, you’re already too late – Bentley says that every example is now in customer hands.',
 'Price: $1.9 Million',
 "To call the Hispano Suiza Carmen Boulogne beautiful would be... a stretch. But this interesting-looking supercar made its US debut at this year's Amelia Island Concours d'Elegance boasting a 1,114-horsepower electric powertrain and a 0-60 time of 2.6 seconds. The Boulogne version pictured here – the lighter and more powerful of the two – costs close to $1.9 million.",
 'Price: $2.0 Million',
 "The electric onslaught is coming. Bentley says it will be a fully electric automaker by 2030. But before the luxury brand transitions to battery power fully, the Mulliner Batur helps send the iconic W12 engine off in style. With 710 horsepower from that twin-turbocharged engine, the Batur is the most powerful Bentley ever. And since it's limited to just 18 examples globally, the Batur costs a whopping $2.0 million.",
 'Price: $2.0 Million',
 'The Deus Vayanne may not be a household name (yet), but the all-electric hypercar debuted earlier this year with 2,200 horsepower, a 0-60 time of just under 2.0 seconds, and an estimated top speed of 248 miles per hour. Deus plans to build 99 examples of the Vayanne, with the first few examples scheduled to go on sale in 2025.',
 'Price: $2.0 Million*',
 'Although initially cloaked in controversy, SSC did manage to hit 282.9 miles per hour with its Tuatara hypercar, breaking a world record. But not only is the Tuatara one of the fastest vehicles on the planet, it’s also one of the priciest. The cost for all that speed is estimated to be around $2.0 million for the base Tuatara, limited to just 100 units worldwide.',
 'Price: $2.1 Million',
 'With a new Emira sports car and an Eletre electric SUV, Lotus is on the brink of a comeback. The automaker plans to roll out a number of new products within the next few years, with part of that strategy including the range-topping Evija. This supercar comes in at a cool $2.1 million and produces nearly 2,000 horsepower via four electric motors. Lotus plans to build just 130 road-going examples of the Evija.',
 'Price: $2.3 Million',
 'As with a few other cars on this list, the Aston Martin Vulcan was a track-only special. The British supercar made its world debut in 2015, powered by a naturally aspirated 7.0-liter V12 that produced 820 horsepower, and limited to just 24 examples worldwide. An even more track-focused AMR Pro model followed, but even the base Vulcan was a pricey commodity, costing about $2.4-million from the factory.',
 'Price: $2.3 Million',
 'You may have heard of Delage before. In the early 1900s, this French automaker was competing on the track with Bugatti and Ferrari. Now Delage is back and with a beautiful new hypercar dubbed the D12. Powered by a 7.6-liter V12 engine, the new D12 produces upwards of 1,010 horsepower and costs a cool $2.3 million.',
 'Price: $2.3 Million',
 "What would you pay for the fastest production McLaren ever? Well, at least $2.3 million. With 1,035 horsepower courtesy of a gasoline-electric hybrid V8 powertrain, the Speedtail tops out at 250 miles per hour and is able to reach 186 mph in just 12.8 seconds – 2.7 seconds faster than the P1. Unfortunately, if you didn't get your hands on one new in 2020, you'll have to shell out serious cash on the used market. McLaren only built 106 examples.",
 'Price: $2.4 Million',
 'The Rimac Nevera takes the title of most expensive EV with its $2.4 million price tag – but only by a few hundred thousand dollars over the next priciest electric supercar. Packing 1,914 horsepower and 1,740 pound-feet of torque, the Nevera can hit 60 in under 2.0 seconds and will continue on to a top speed of 258 miles per hour. Those lucky enough to order one should see it in their driveway before the end of 2022.',
 'Price: $2.5 Million',
 'First came the Zonda, then the Huayra, and now the Pagani Utopia. With 852 horsepower and an available seven-speed manual gearbox, the Utopia is the most powerful road-going Pagani ever produced and it’s limited to just 99 examples worldwide. The cost for one is a cool $2.5 million.',
 'Price: $2.5 Million',
 'Aptly named after the company’s founder, Battista Farina, the Pininfarina Battista delivers the kind of performance (and price!) to make its namesake proud. Revealed at the 2019 Geneva Motor Show, the Battista is completely electric, putting out 1,827 horsepower. If a normal supercar’s 0 to 60 time sounds too leisurely for you, the company says that the Battista will take you there in under 2.0 seconds. Pininfarina plans on building 150 examples of the Battista, costing $2.5 million each.',
 'Price: $2.6 Million',
 "Sure, you could buy a normal LaFerrari (which also makes the list further down), but why settle for a supercar so mundane when you can take home this track-only version instead? Granted, the Ferrari FXX K Evo came out in 2017, and it's well past the point of being sold out. But when it was new, this 1,036-horsepower Ferrari tore up the track with its naturally aspirated V12 and aggressive aerodynamics.",
 'Price: $2.6 Million',
 "If the name Gordon Murray sounds familiar, it’s because he's the man behind the design of the iconic McLaren F1. These days, Mr. Murray has his own supercar venture, and the handsome T.50 is the crown jewel of the lineup. At $2.6 million, the T.50 packs a naturally aspirated 4.0-liter V12 that makes 654 horsepower. The car itself weighs a mere 2,174 pounds, and at 392 pounds, the T.50 has the lightest V12 on the road today.",
 'Price: $2.6 Million',
 "The name Countach may be iconic, but is it worth $2.6 million? That's what Lamborghini hopes you will spend on its new Aventador-based model. Debuting in August of 2021, the Countach LPI 800-4 has a 6.5-liter V12 with a light hybrid assist that gives it a whopping 803 horsepower, allowing for a 60 time of 2.8 seconds and a top speed of more than 220 miles per hour.",
 'Price: $2.7 Million',
 'Mercedes has promised a production version of the Project One hypercar for quite a while now. The first official announcement was in March of 2017 before the first concept debuted later that same year. But after nearly five years of teasing, it appears as if the Project One will finally hit public roads. And when it does, the hybrid hypercar will have over 1,200 horsepower (895 kilowatts) and a price tag of $2.7 million.',
 'Price: $3.0 Million',
 'The folks at Aston Martin know a thing or two about exclusive vehicles, and the Victor might be the most exclusive project for the British brand to date. Based on the One-77 platform, the Victor uses parts from several donor Astons including the track project Vulcan and the upcoming Valkyrie. And talking about limited production – the Victor is one-of-one and rumored to cost nearly $3 million.',
 '$3.0 Million',
 'The same Hennessey Venom F5 hypercar we all know and love, but with less roof. The F5 Roadster has the same twin-turbocharged 6.6-liter V8 as the coupe, producing the same 1,817 horsepower and 1,193 pound-feet of torque. Hennessey estimates a top speed of over 300 miles per hour, but if you want one, it will cost you at least $3.0 million.',
 'Price: $3.0 Million',
 "The Koenigsegg Jesko, apart from being the fastest car the company has made to date, is also the most expensive. At $3.0 million out of the box, the handsome hypercar has 1,600-horsepower courtesy of the brand's ubiquitous twin-turbocharged 5.0-liter V8 engine. Opt for the Absolut model, and the Jesko, in theory, will be able to hit 300 miles per hour.",
 'Price: $3.2 Million',
 'The upcoming Aston Martin hybrid hypercar hasn’t even hit the market yet, but already the $3.2 million Valkyrie has sold out. For what it’s worth, Aston Martin hasn’t officially released pricing. Estimates suggest the hypercar could go for anywhere between $2.6 and $3.9 million – but $3.2 million seems to be the magic number. Whatever the case, this machine is impressive. Its Cosworth-sourced 6.5-liter V12 produces 1,160 horsepower (865 kilowatts) and 664 pound-feet (900 Newton-meters) of torque, meaning its top speed should be well over 200 miles per hour (321 kilometers per hour). The company will build just 150 examples of the standard Valkyrie, with a limited 25-run AMR model arriving later.',
 'Price: $3.4 Million',
 "Dubai-based W Motors shocked the world with its edgy Lykan Hypersport supercar in 2013. With titanium LED headlights housing 420 15-carat diamonds and a holographic display in the center console, it's no surprise it was the third most expensive car ever when new. It falls to number six on our list here, but it's still a wild hypercar with a powerful heart; the twin-turbocharged 3.7-liter six-cylinder engine underhood produces 780 horsepower (581 kilowatts) and 708 (960 Newton-meters) of torque.",
 '$3.5 Million',
 'One seat, 829 horsepower, and a top speed of over 200 miles per hour. The new McLaren Solus is about as close as you can get to a Formula 1 car from the factory, powered by a naturally aspirated 5.2-liter V10 engine with a 0-62 mile-per-hour time of just 2.5 seconds. Estimates suggest a McLaren Solus will set you back about $3.5 million.',
 'Price: $3.5 Million',
 'Following Pagani’s past playbook, a roadster version of the ferocious Huayra BC was inevitable. Last year, the company made it official by showing off the Huayra Roadster BC, a topless monster with 800 horsepower (597 kilowatts) and 774 lb-ft of torque (1049 Newton-meters). Somewhat surprisingly, Pagani gave the roadster 50 more horsepower than its coupe sibling, by cranking up its AMG-sourced twin-turbocharged 6.0-liter V12. In addition to the joy of hearing the glorious engine note without a roof in the way, owners should take comfort in knowing that their car is ultra-rare. Pagani is limiting production to just 40 units, each with a sticker price of $3.5 million.',
 'Price: $3.6 Million',
 'Another showstopper from the Geneva Motor Show that never was, the Bugatti Chiron Pur Sport is a special edition Chiron with a focus on aerodynamics, weight reduction, and power distribution. It’s the same 8.0-liter quad-turbo W16 engine underneath the skin but it’s now mated to a recalibrated automatic gearbox. While the peak output remains unchanged at 1,500 horsepower (1,103 kilowatts), the rpm redline has been set 200 rpm higher, up to 6,900 rpm. The Pur Sport also features slightly revised bodywork, with a bigger rear wing and more aerodynamic front fascia. Beginning production in late 2020, the Bugatti starts at $3.6 million.',
 'Price: $3.6 million',
 'In several ways, the Sian represents a bridge to Lamborghini’s future. Though it’s based on the Aventador SVJ, this wild-looking Lambo is the brand’s first production electrified offering. In addition to the SVJ-sourced 6.5-liter V12, the Sian uses a 48-volt mild-hybrid system. Total system output is 819 horsepower (611 kilowatts), which also makes it the most powerful Lamborghini ever. As confirmed by the 63 stuck on either side of the Sian’s wing, Lamborghini will produce just 63 units. And each will cost far more than the Aventador SVJ, carrying a price of $3.6 million.',
 'Price: $3.7 Million',
 'The Koenigsegg CC850 was a surprise to be sure, but a welcomed one. Borrowing the twin-turbocharged 5.0-liter V8 from the Jesko, it notches that output up to 1,385 horsepower and 1,022 pound-feet of torque, with a so-called “TWMPAFMPC” transmission that shifts (pun intended) between manual and automatic functions. Of course, all that performance technology will cost you; the CC850 starts at $3.7 million.',
 'Price: $3.9 Million',
 'Earlier this year, Bugatti captured the collective attention of the automotive world by announcing that it broke the 300 miles per hour barrier with a modified version of the Chiron. The Super Sport 300 + is a road-going version of that car, meant to celebrate the occasion. Limited to just 30 units, the Super Sport 300+ is a beautiful version of the Chiron, with flowing, slippery bodywork and a sweet stripe motif. Despite having hit 304.8 mph on the track with a production vehicle, Bugatti does limit its Chiron 300+ to 273 mph in top speed mode.',
 'Price: $4.5 Million',
 "Lamborghini built just 14 examples of the Aventador-based Veneno between 2014 and 2015. Each one cost around $4.5 million, depending on how it was spec'd, and was available in both convertible and coupe configurations. Underhood Lamborghini fitted a more-powerful iteration of the Aventador's 6.5-liter V12, now producing 740 horsepower (552 kilowatts) and 509 pound-feet (609 Newton-meters) of torque, which gave it the ability to sprint to 60 miles per hour (96 kilometers per hour) in a blistering 2.9 seconds. To date, it’s the most expensive new Lamborghini ever.",
 'Price: $4.7 Million',
 "Produced in extremely limited numbers atop the body of a Chiron, it's no wonder Bugatti's one-of-40 Bolide track car is this pricey. At $4.7 million, the 1,824-horsepower hypercar has more power than the Chiron Super Sport 300+, and more extreme bodywork that allow it to lap tracks like the Nurburgring in record time (in theory). Bugatti says the Bolide would be able to conquer the ‘Ring in record time.",
 'Price: $5.0 Million',
 'The Bugatti Mistral sends the iconic W16 engine off in style. With 1,577 horsepower and no roof, the Mistral takes the best bits of the Chiron and borrows elements from the Bolide and Divo to create a truly unique roadster. Of course, Bugatti plans to build just 99 examples of the Mistral at the cost of around $5.0 million in the US – and all of them are already accounted for.',
 'Price: $5.4 Million',
 'Even though the new Utopia marks the next big step for Pagani, the Huayra Imola packs nearly as much power with a twin-turbocharged 6.0-liter V12 engine producing 827 horsepower and 811 pound-feet of torque. The Huayra Imola is estimated to cost around $5.4 million new, which would make it the second most expensive Pagani of all time.',
 'Price: $5.8 Million',

In [73]:
Expensive_Cars = pd.DataFrame({'Car Name': car_name, 'Price': Price})

In [74]:
Expensive_Cars

                            Car Name                        Price
0                      De Tomaso P72          Price: $1.3 Million
1                  Ferrari LaFerrari          Price: $1.4 Million
2                      Pagani Huayra          Price: $1.4 Million
3                       McLaren Elva
4                        Czinger 21C          Price: $1.7 Million
5                      Ferrari Monza          Price: $1.7 Million
6                 Gordon Murray T.33          Price: $1.7 Million
7                  Koenigsegg Gemera          Price: $1.7 Million
8                        Zenvo TSR-S          Price: $1.7 Million
9                 Hennessey Venom F5          Price: $1.7 Million
10                   Bentley Bacalar          Price: $1.8 Million
11     Hispano Suiza Carmen Boulogne          Price: $1.9 Million
12            Bentley Mulliner Batur          Price: $1.9 Million
13                      Deus Vayanne          Price: $2.0 Million
14                       SSC Tuatara          Price: $2.0 Million
15                       Lotus Evija         Price: $2.0 Million*
16               Aston Martin Vulcan          Price: $2.1 Million
17                        Delage D12          Price: $2.3 Million
18                 McLaren Speedtail          Price: $2.3 Million
19                      Rimac Nevera          Price: $2.3 Million
20                     Pagani Utopia          Price: $2.4 Million
21              Pininfarina Battista          Price: $2.5 Million
22                 Ferrari FXX K Evo          Price: $2.5 Million
23                Gordon Murray T.50          Price: $2.6 Million
24              Lamborghini Countach          Price: $2.6 Million
25          Mercedes-AMG Project One          Price: $2.6 Million
26               Aston Martin Victor          Price: $2.7 Million
27       Hennessey Venom F5 Roadster          Price: $3.0 Million
28                  Koenigsegg Jesko                 $3.0 Million
29             Aston Martin Valkyrie          Price: $3.0 Million
30         W Motors Lykan Hypersport          Price: $3.2 Million
31                     McLaren Solus          Price: $3.4 Million
32         Pagani Huayra Roadster BC                 $3.5 Million
33          Bugatti Chiron Pur Sport          Price: $3.5 Million
34                  Lamborghini Sian          Price: $3.6 Million
35                  Koenigsegg CC850          Price: $3.6 million
36   Bugatti Chiron Super Sport 300+          Price: $3.7 Million
37                Lamborghini Veneno          Price: $3.9 Million
38                    Bugatti Bolide          Price: $4.5 Million
39                   Bugatti Mistral          Price: $4.7 Million
40               Pagani Huayra Imola          Price: $5.0 Million
41                      Bugatti Divo          Price: $5.4 Million
42               SP Automotive Chaos          Price: $5.8 Million
43                  Pagani Codalunga          Price: $6.4 Million
44          Mercedes-Maybach Exelero          Price: $7.4 Million
45                Bugatti Centodieci          Price: $8.0 Million
46           Bugatti Chiron Profilée          Price: $9.0 Million
47              Rolls-Royce Sweptail         Price: $10.8 Million
48          Bugatti La Voiture Noire         Price: $12.8 Million
49            Rolls-Royce Boat Tail*         Price: $13.4 Million
50  Most Expensive Cars In The World  Price: $28.0 Million (est.)

In [70]:
len(car_name)

51

In [71]:
len(Price)

51